@model IEnumerable<Post>

@{

}

<div class="adminPanel">
    <h3 >Admin Panel</h3>

    <a asp-controller="Panel" asp-action="Edit">Create Post</a>

    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {

                <tr>
                    <td class="postTitle">@post.Title</td>
                    <td>
                        <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Post_Id">
                            Edit
                        </a>|
                        <a asp-controller="Panel" asp-action="Delete" asp-route-id="@post.Post_Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
